/* src/styles/CreateNutritionPlan.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем заголовок и стрелку */
  width: 100%;
  margin-bottom: 10px; /* Сокращаем отступ */
}

.backButton {
  font-size: 24px;
  color: #0A2540;
  text-decoration: none;
  margin-right: 10px; /* Добавляем отступ справа от стрелки */
}

.headerText {
  font-size: 16px;
  color: #0A2540;
}

.progressBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.progressBar {
  width: 400px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress {
  width: 0;
  height: 100%;
  background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
  background-size: 800% 800%;
  animation: gradientBackground 15s ease infinite;
  transition: width 0.5s ease-in-out;
  border-radius: 10px;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-size: 24px;
  color: #0A2540;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.optionButton {
  background-color: white;
  border: 2px solid #ff0080;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ff0080;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.optionButton:hover {
  background-color: #ff0080;
  color: #fff;
}

.inputField {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ff0080;
  border-radius: 10px;
  font-size: 1rem;
}

.textArea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ff0080;
  border-radius: 10px;
  font-size: 1rem;
}

.nextButton {
  background-color: #ff0080;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton {
  background-color: #ff0080;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}
