.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 36px;
  background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 15s ease infinite;
  margin-bottom: 40px;
  text-align: center;
}

@keyframes gradientText {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.workoutTitle {
  font-size: 24px;
  color: #0A2540;
  margin-bottom: 20px;
  text-align: left;
}

.workoutList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.workoutItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.workoutImageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 10px;
}

.workoutImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.workoutButton {
  background: linear-gradient(90deg, #ff0080, #e3d10c);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.workoutButton:hover {
  background: linear-gradient(90deg, #e3d10c, #ff0080);
  transform: scale(1.05);
}

.createPlanButton,
.savePlanButton {
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
  background-size: 800% 800%;
  animation: gradientBackground 15s ease infinite;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0px;
}

.createPlanButton:disabled,
.savePlanButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@keyframes gradientBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
