/* src/styles/Header.module.css */

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
  background-size: 800% 800%;
  animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}

.logoImage {
  width: 100%;
  height: 100%;
}

.burgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burgerLine {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.4s, opacity 0.4s;
}

.burgerLineOpen1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerLineOpen2 {
  opacity: 0;
}

.burgerLineOpen3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav {
  display: flex;
}

.navOpen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
  background-size: 800% 800%;
  animation: gradientBackground 15s ease infinite;
}

.navList {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-left: 20px;
}

.navList a {
  color: white;
  text-decoration: none;
}

.langSwitch a {
  margin-left: 10px;
}

.logInButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  margin: 0 90px;
}

.signUpButton {
  padding: 22px 40px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: black; /* Установим цвет текста */
}

.signUpButton::before {
  content: "Тіркелу";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 15s ease infinite;
  white-space: nowrap;
  font-size: 16px;
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signOutButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.dropdown {
  position: relative;
}

.dropdown a {
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-10px);
}

.dropdown:hover .dropdownContent {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

/* Медиазапросы для уменьшения размеров меню */

@media (max-width: 1024px) {
  .navList {
    font-size: 14px;
  }

  .navList li {
    margin-left: 10px;
  }

  .logInButton, .signUpButton, .signOutButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .headerContent {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .navList {
    font-size: 12px;
    padding: 0 10px;
  }

  .navList li {
    margin-left: 8px;
  }

  .logInButton, .signUpButton, .signOutButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .signUpButton {
    padding: 16px 30px; /* Уменьшим размеры кнопки */
    font-size: 14px; /* Уменьшим размер шрифта */
  }
}

@media (max-width: 480px) {
  .headerContent {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .burgerMenu {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navOpen {
    display: flex;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
  }

  .navList li {
    margin-left: 0;
    margin-top: 10px;
  }

  .logInButton, .signUpButton, .signOutButton {
    width: 100%;
    text-align: center;
  }

  .signUpButton {
    padding: 12px 20px; /* Еще раз уменьшим размеры кнопки */
    font-size: 12px; /* Еще раз уменьшим размер шрифта */
  }
}
