/* src/styles/Header.module.css */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
    background-size: 800% 800%;
    animation: gradientBackground 15s ease infinite;
  }
  
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .navList {
    display: flex;
    list-style: none;
    align-items: center; /* Выровнять элементы по центру */
    margin: 0; /* Убрать отступы */
    padding: 0; /* Убрать отступы */
  }
    
  .navList li {
    margin-left: 20px;
  }
  
  .navList a {
    color: white;
    text-decoration: none;
  }
  
  .langSwitch a {
    margin-left: 10px;
  }

  .logInButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Белая рамка */
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 200px); 
    margin: 0 90px; 
  }
  
  .signUpButton {
    padding: 20px 40px;
    font-size: 16px;
    background-color: white; /* Белый фон */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .signUpButton::before {
    content: "Sign up";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, #ff0080, #e3d10c, #40e08d, #7922ca);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientText 15s ease infinite;
    white-space: nowrap; /* Оставляем текст на одной строке */
    font-size: 16px; /* Размер текста */
  }
  
  @keyframes gradientText {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  